<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../public/style.css">
    <title>Book Notes By Abdul Manan</title>
</head>


<body class="montserrat-fontType flexContainer">
    <h1 id="aboutId">About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit qui quaerat ipsum, facere sit ea aliquam
        totam,
        beatae tenetur eveniet impedit. Corporis, odio maiores natus assumenda suscipit repellat consequuntur magnam.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam optio distinctio voluptates voluptatem dolore
        autem! Tempora enim magnam deserunt. Iure voluptate, accusantium suscipit optio omnis expedita temporibus magni
        cumque voluptatem.

    </p>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Itaque, beatae non ad aliquid molestias quaerat velit
        quia, libero commodi sed tempore voluptates, nihil ipsa reprehenderit maiores. Voluptatum optio tempora alias.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi, sequi. Ullam ipsum aliquam, fugit adipisci natus
        ab
        repellendus minima, ea corporis eveniet doloribus delectus error voluptatibus pariatur doloremque incidunt
        eaque.
    </p>


    <script src="../public/script.js"></script>
</body>

</html>